/*Home*/
.home { background: var(--yellow); }
.home article {width: 100%; text-align: center;}
.home img {display: block; margin: 0 auto; padding: 30px 0;}
.home h2 { font-size: 2em;}
.home h4 { font-size: 1.2em; color: var(--black); margin: 10px 0; font-weight: normal;}
.home p { line-height: 22px; font-size: 1em;}
.home ul { display: flex; justify-content: center;}
.home ul li {list-style-type: none; margin: 20px 20px 20px 0; }
.home ul li .icon {font-size: 40px;}

@media (min-width: 768px){
	/*Flex-box*/
	.flex-home{ display: flex; align-items: center; height: auto;}

	/*Home*/
	.home article:nth-child(1){order: 2;}
	.home article:nth-child(2){order: 1; text-align: left;}
	.home ul{justify-content: left;}
}