/*Footer*/
footer{ background-color: var(--black);}

/*Redes Sociais*/
.redesSociais {display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding: 10px 0 20px;}
.redesSociais li{list-style-type: none; margin-right: 20px;}
.redesSociais li .iconFooter{ color: var(--yellow); font-size: 2.1em; margin: 40px 0;}

/*Grid Footer*/
.gridFooter{display: -ms-grid;display: grid; -ms-grid-columns: 1fr; grid-template-columns: 1fr; -ms-grid-rows: 1fr; grid-template-rows: 1fr; gap: 25px 0px; padding-bottom: 25px;}
.gridFooter > *:nth-child(1){ -ms-grid-row: 1; -ms-grid-column: 1;}

/*Grid Item*/
.gridFooter .itemFooter {text-align: left;}
.gridFooter .itemFooter > li {color: #fff ; list-style-type: none; -webkit-transition: all .4s; -o-transition: all .4s; transition: all .4s;}
.gridFooter .itemFooter > li:hover{opacity: .7;}
.gridFooter .itemFooter > li a{ color: #fff; text-decoration: none; -webkit-transition: all .4s; -o-transition: all .4s; transition: all .4s;}
.gridFooter .itemFooter > li a:hover{opacity: .7;}


@media (min-width: 768px){
	/*Grid*/
	.gridFooter {-ms-grid-columns: auto 40px auto 40px auto 40px auto 40px auto;grid-template-columns: auto auto auto auto auto; gap: 40px}
	.redesSociais {padding: 10px 0 50px;}
}