/* Fonts  */
@font-face {
	font-family: 'PTSans';
	src: url('./assets/fonts/PTSans-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PTSans';
	src: url('./assets/fonts/PTSans-Bold.ttf');
	font-weight: bold;
}

/* Variaveis */
:root {
  --black: #010101;
  --yellow: #fcdb00;
  --textBlack: #313841;
}

/*Config Padrão*/
*{padding: 0; margin: 0; box-sizing: border-box;}
body{ font-family: 'PTSans' , 'Segoe UI'; font-weight: normal;}
.img-response{max-width: 100%;}

@media (min-width: 560px){
	
}